Repository canonical/microk8s.io, pull requests merged in 2019-12, with the labels that each got.

#185 Make the version selector great again
  index.html
  js/installversion.js
Labels: Review: Code +1, Review: QA +1, Review: UX +1

#186 Fix named links on Dashboard Addon page
  docs/addon-dashboard.md
Labels: Review: Code +1, Review: QA +1

#188 Add group step
  docs/index.md
Labels: Docs 📚, Review: Code +1, Review: QA +1

#189 Add Cilium to docs
  docs/addons.md
Labels: Docs 📚

#190 Add 1.17 release notes
  docs/release-notes.md
Labels: Docs 📚, Review: Code +1, Review: QA +1
